#category-report-table {
    width: 90%;
    background-color: #666666;
    margin-left: 5%;
    margin-right: 5%;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
        text-align: center;
    }

    th+th, td+td {
        border-left: 3px solid #555555;
    }

    th, td {
        padding: 5px;
        text-align: center;
    }
}

#close-report-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../icons/close-btn.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: transparent;
    border: none;
    right: 0;
    top: 0;
    &:hover {
        cursor: pointer;
    }
}

#CSAReportBtn {
    width: 20%;
    background-color: #353535;
    border: none;
    color: white;
    font-family: "Roboto";
    &:hover {
        cursor: pointer;
    }
}